name: Terraform CI

on:
  push:
    branches:
      - main

  schedule:
  - cron: "8 8 * * *"   # example for 03:00 EST (03:00 + 5h = 08:00 UTC)

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Terraform format check
        run: terraform fmt -check

      - name: Terraform init (no backend)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate
